header,
footer {
    background-color: navy;
    color: white;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a:hover {
    color: yellow;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
